<h1 class="top">Eat-Da-Burger!</h1>
<div class="img-container">
  <img src="\assets\img\burger.png">
</div>
<div class="content">
  <div class="row">
    <div class="column">
      <h2>Order Up!</h2>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="column">
      <h2>Past Orders</h2>
      <ul>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devour=false}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="centered">
    <h2>Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>
      <p>Enter a burger that you want to eat and click the "Add Burger" button.</p>
      <button class="burger-button" type="submit">Add Burger</button>
    </form>
  </div>  
</div>