body {
  background-color: #ffe066
}

h1 {
  font-size: 75px;
  font-weight: bold;
  color: #ff6600;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-bottom: 0%;
}

h2 {
  margin-left: 40px;
  text-shadow: -1px 0 #ff9933, 0 1px #ff9933, 1px 0 #ff9933, 0 -1px #ff9933;
}

.top {
  text-align: center;
}

.img-container{ 
  height: 240px;
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
  height: 100%; 
  object-fit: contain; 
}

.content {
  background-color: #ff6600;
  width: 50%;
  margin: auto;
  border: 3px solid #331a00;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
ul {
  padding-left: 14px;
}
li {
  text-align: center;
  padding: 5px;
  margin: 5px;
  background: #ff9933;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
.delete {
  display: inline-block;
}

.centered {
  text-align: center; 
}

.burger-button {
  background-color: black;
  color: #ff9933;
}

.burger-button:hover {
  background-color: #ff9933;
  color: black;
}

.delete-button {
  background-color: black;
  color: #c30010;
}

.order-button {
  background-color: black;
  color: #ff9933;
}